
.menu_header_header{
    width: 80%;
    float: left;
}

.personal_area{
    float: left;
    margin-right: 50px;
}

.menu_header_header span{
    margin-left: 50px;
}

.info_in_header_menu{

}

.logo{
    width: 269px;
}

.heder_info{
    display: flex;
}

.site_bar{
    background-color: #000000;
    color: #fff;
    padding: 14px 0px;
    width: 150%;
    margin-left: -10px;
}

.site_bar span{

    margin-left: 5%;
}